
.root{
    -fx-font-size: 20px;
    -fx-font-weight:bold;
}
.header
{
    -fx-font-size:25px;
    -fx-font-style:italic;
}
#background
{
    -fx-background-image: url("/bg_img.jpg");
}
#login-button {
  -fx-graphic: url("/login_img.png");
   -fx-background-color: transparent;

}


